{
  "openapi": "3.1.0",
  "info": {
    "title": "ModelsLab Interior API",
    "description": "AI-powered interior design and architectural visualization API",
    "license": {
      "name": "MIT"
    },
    "version": "6.0.0"
  },
  "servers": [
    {
      "url": "https://modelslab.com/api/v6",
      "description": "Main API server"
    }
  ],
  "paths": {
    "/interior/make": {
      "post": {
        "summary": "Create interior design",
        "description": "Create an interior design from an image using this endpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InteriorMakeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Interior design response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/SuccessInteriorResponse" },
                    {
                      "$ref": "#/components/schemas/ProcessingInteriorResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/interior/floor_planning": {
      "post": {
        "summary": "Generate floor plan",
        "description": "Generate a rendered image of a floor plan for a room based on the provided input",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FloorPlanningRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Floor planning response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/SuccessInteriorResponse" },
                    {
                      "$ref": "#/components/schemas/ProcessingInteriorResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/interior/room_decorator": {
      "post": {
        "summary": "Room decorator",
        "description": "This endpoint helps decorate a room according to the prompt provided",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoomDecoratorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Room decoration response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/SuccessInteriorResponse" },
                    {
                      "$ref": "#/components/schemas/ProcessingInteriorResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/interior/scenario_changer": {
      "post": {
        "summary": "Scenario changer",
        "description": "This endpoint allows you to change the environment scenario to check how house will look in different scenario",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScenarioChangerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scenario change response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/SuccessInteriorResponse" },
                    {
                      "$ref": "#/components/schemas/ProcessingInteriorResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/interior/sketch_rendering": {
      "post": {
        "summary": "Sketch rendering",
        "description": "This endpoint allows you to convert exterior house sketch into real world photo as per prompt",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SketchRenderingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sketch rendering response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/SuccessInteriorResponse" },
                    {
                      "$ref": "#/components/schemas/ProcessingInteriorResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/interior/exterior_restorer": {
      "post": {
        "summary": "Exterior restorer",
        "description": "This endpoint allows you to convert bad exterior to good exterior",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExteriorRestorerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exterior restoration response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/SuccessInteriorResponse" },
                    {
                      "$ref": "#/components/schemas/ProcessingInteriorResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/interior/fetch/{id}": {
      "post": {
        "summary": "Fetch queued request",
        "description": "Fetch Queued Request API fetches queued request. Usually more complex image generation requests take more time for processing. Such requests are being queued for processing and the output Images are retrievable after some time.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the generation to fetch"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fetch response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/SuccessInteriorResponse" },
                    {
                      "$ref": "#/components/schemas/ProcessingInteriorResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "InteriorMakeRequest": {
        "type": "object",
        "required": ["key", "init_image", "prompt"],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for authenticating your request"
          },
          "prompt": {
            "type": "string",
            "description": "A text prompt describing the content you want in the generated interior image"
          },
          "init_image": {
            "type": "string",
            "format": "uri",
            "description": "A URL to the initial image of the room to base the design on"
          },
          "negative_prompt": {
            "type": "string",
            "description": "Descriptions of elements to avoid in the image (e.g., NSFW content, poor quality, distorted features)"
          },
          "strength": {
            "type": "number",
            "default": 0.99,
            "description": "The degree to which the prompt influences the initial image. 1.0 corresponds to full destruction of the initial image details"
          },
          "base64": {
            "type": "boolean",
            "default": false,
            "description": "Specifies whether the response should be returned as a base64 string. Defaults to false"
          },
          "num_inference_steps": {
            "type": "integer",
            "default": 51,
            "description": "The number of denoising steps. Acceptable values are 21, 31, or 41"
          },
          "guidance_scale": {
            "type": "integer",
            "default": 8,
            "description": "The scale for classifier-free guidance. Minimum is 1, and maximum is 20"
          },
          "temp": {
            "type": "boolean",
            "default": false,
            "description": "Indicates if temporary links should be used, valid for 24 hours. Defaults to false"
          },
          "seed": {
            "type": "integer",
            "default": 0,
            "nullable": true,
            "description": "Seed for reproducibility. The same seed generates the same image. Use null for a random seed"
          },
          "scale_down": {
            "type": "integer",
            "default": 6,
            "description": "Scale down parameter for image processing"
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "A URL to receive a POST API call once the image generation is complete"
          },
          "track_id": {
            "type": "integer",
            "nullable": true,
            "description": "An ID returned in the API response, used to identify the webhook request"
          }
        }
      },
      "FloorPlanningRequest": {
        "type": "object",
        "required": ["key", "init_image", "prompt"],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for authenticating your request"
          },
          "prompt": {
            "type": "string",
            "description": "A text prompt describing the content you want in the generated floor plan image"
          },
          "init_image": {
            "type": "string",
            "format": "uri",
            "description": "A URL to the initial image of the room to base the floor plan on"
          },
          "negative_prompt": {
            "type": "string",
            "description": "Negative prompts are descriptions of things we don't want in our image. Examples include NSFW content, extra limbs, distorted faces, poor quality, or anything else we want to avoid"
          },
          "strength": {
            "type": "number",
            "description": "The degree to which the prompt influences the initial image. 1.0 corresponds to full destruction of the initial image details"
          },
          "base64": {
            "type": "boolean",
            "default": false,
            "description": "Specifies whether the response should be returned as a base64 string. Defaults to false"
          },
          "num_inference_steps": {
            "type": "integer",
            "description": "The number of denoising steps. Acceptable values are 21, 31, or 41"
          },
          "guidance_scale": {
            "type": "integer",
            "description": "The scale for classifier-free guidance. Minimum is 1, and maximum is 20"
          },
          "temp": {
            "type": "boolean",
            "default": false,
            "description": "Indicates if temporary links should be used, valid for 24 hours. Defaults to false"
          },
          "seed": {
            "type": "integer",
            "nullable": true,
            "description": "Seed is used to reproduce results, same seed will give you same image in return again. Pass null for a random number"
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "A URL to receive a POST API call once the image generation is complete"
          },
          "track_id": {
            "type": "integer",
            "nullable": true,
            "description": "An ID returned in the API response, used to identify the webhook request"
          },
          "specific_object": {
            "type": "string",
            "nullable": true,
            "description": "Specific object parameter"
          }
        }
      },
      "RoomDecoratorRequest": {
        "type": "object",
        "required": ["key", "init_image", "prompt"],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for authenticating your request"
          },
          "prompt": {
            "type": "string",
            "description": "A text prompt describing the content you want in the generated room decor image"
          },
          "init_image": {
            "type": "string",
            "format": "uri",
            "description": "A URL to the initial image of the room to base the design on"
          },
          "negative_prompt": {
            "type": "string",
            "description": "Negative prompts are descriptions of things we don't want in our image. Examples include NSFW content, extra limbs, distorted faces, poor quality, or anything else we want to avoid"
          },
          "strength": {
            "type": "number",
            "description": "The degree to which the prompt influences the initial image. 1.0 corresponds to full destruction of the initial image details"
          },
          "base64": {
            "type": "boolean",
            "default": false,
            "description": "Specifies whether the response should be returned as a base64 string. Defaults to false"
          },
          "num_inference_steps": {
            "type": "integer",
            "description": "The number of denoising steps. Acceptable values are 21, 31, or 41"
          },
          "guidance_scale": {
            "type": "integer",
            "description": "The scale for classifier-free guidance. Minimum is 1, and maximum is 20"
          },
          "temp": {
            "type": "boolean",
            "default": false,
            "description": "Indicates if temporary links should be used, valid for 24 hours. Defaults to false"
          },
          "seed": {
            "type": "integer",
            "nullable": true,
            "description": "Seed for reproducibility. The same seed generates the same image. Use null for a random seed"
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "A URL to receive a POST API call once the image generation is complete"
          },
          "track_id": {
            "type": "integer",
            "nullable": true,
            "description": "An ID returned in the API response, used to identify the webhook request"
          }
        }
      },
      "ScenarioChangerRequest": {
        "type": "object",
        "required": ["key", "init_image", "prompt"],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for authenticating your request"
          },
          "prompt": {
            "type": "string",
            "description": "A text prompt describing the content you want in the generated floor plan image"
          },
          "init_image": {
            "type": "string",
            "format": "uri",
            "description": "A URL to the initial image of the room to base the floor plan on"
          },
          "scenario": {
            "type": "string",
            "enum": ["beach", "desert", "plain", "taiga"],
            "description": "The scenario to be changed, it includes beach, desert, plain, taiga"
          },
          "negative_prompt": {
            "type": "string",
            "description": "Negative prompts are descriptions of things we don't want in our image. Examples include NSFW content, extra limbs, distorted faces, poor quality, or anything else we want to avoid"
          },
          "strength": {
            "type": "number",
            "description": "The degree to which the prompt influences the initial image. 1.0 corresponds to full destruction of the initial image details"
          },
          "base64": {
            "type": "boolean",
            "default": false,
            "description": "Specifies whether the response should be returned as a base64 string. Defaults to false"
          },
          "num_inference_steps": {
            "type": "integer",
            "description": "The number of denoising steps. Acceptable values are 21, 31, or 41"
          },
          "guidance_scale": {
            "type": "integer",
            "description": "The scale for classifier-free guidance. Minimum is 1, and maximum is 20"
          },
          "temp": {
            "type": "boolean",
            "default": false,
            "description": "Indicates if temporary links should be used, valid for 24 hours. Defaults to false"
          },
          "seed": {
            "type": "integer",
            "nullable": true,
            "description": "Seed is used to reproduce results, same seed will give you same image in return again. Pass null for a random number"
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "A URL to receive a POST API call once the image generation is complete"
          },
          "track_id": {
            "type": "integer",
            "nullable": true,
            "description": "An ID returned in the API response, used to identify the webhook request"
          },
          "specific_object": {
            "type": "string",
            "nullable": true,
            "description": "Specific object parameter"
          }
        }
      },
      "SketchRenderingRequest": {
        "type": "object",
        "required": ["key", "init_image", "prompt"],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for authenticating your request"
          },
          "prompt": {
            "type": "string",
            "description": "A text prompt describing the content you want in the generated floor plan image"
          },
          "init_image": {
            "type": "string",
            "format": "uri",
            "description": "A URL to the initial image of the room to base the floor plan on"
          },
          "negative_prompt": {
            "type": "string",
            "description": "Negative prompts are descriptions of things we don't want in our image. Examples include NSFW content, extra limbs, distorted faces, poor quality, or anything else we want to avoid"
          },
          "strength": {
            "type": "number",
            "description": "The degree to which the prompt influences the initial image. 1.0 corresponds to full destruction of the initial image details"
          },
          "base64": {
            "type": "boolean",
            "default": false,
            "description": "Specifies whether the response should be returned as a base64 string. Defaults to false"
          },
          "num_inference_steps": {
            "type": "integer",
            "description": "The number of denoising steps. Acceptable values are 21, 31, or 41"
          },
          "guidance_scale": {
            "type": "integer",
            "description": "The scale for classifier-free guidance. Minimum is 1, and maximum is 20"
          },
          "temp": {
            "type": "boolean",
            "default": false,
            "description": "Indicates if temporary links should be used, valid for 24 hours. Defaults to false"
          },
          "seed": {
            "type": "integer",
            "nullable": true,
            "description": "Seed is used to reproduce results, same seed will give you same image in return again. Pass null for a random number"
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "A URL to receive a POST API call once the image generation is complete"
          },
          "track_id": {
            "type": "integer",
            "nullable": true,
            "description": "An ID returned in the API response, used to identify the webhook request"
          },
          "specific_object": {
            "type": "string",
            "nullable": true,
            "description": "Specific object parameter"
          }
        }
      },
      "ExteriorRestorerRequest": {
        "type": "object",
        "required": ["key", "init_image", "prompt"],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for authenticating your request"
          },
          "prompt": {
            "type": "string",
            "description": "A text prompt describing the content you want in the generated floor plan image"
          },
          "init_image": {
            "type": "string",
            "format": "uri",
            "description": "A URL to the initial image of the room to base the floor plan on"
          },
          "negative_prompt": {
            "type": "string",
            "description": "Negative prompts are descriptions of things we don't want in our image. Examples include NSFW content, extra limbs, distorted faces, poor quality, or anything else we want to avoid"
          },
          "strength": {
            "type": "number",
            "description": "The degree to which the prompt influences the initial image. 1.0 corresponds to full destruction of the initial image details"
          },
          "base64": {
            "type": "boolean",
            "default": false,
            "description": "Specifies whether the response should be returned as a base64 string. Defaults to false"
          },
          "num_inference_steps": {
            "type": "integer",
            "description": "The number of denoising steps. Acceptable values are 21, 31, or 41"
          },
          "guidance_scale": {
            "type": "integer",
            "description": "The scale for classifier-free guidance. Minimum is 1, and maximum is 20"
          },
          "temp": {
            "type": "boolean",
            "default": false,
            "description": "Indicates if temporary links should be used, valid for 24 hours. Defaults to false"
          },
          "seed": {
            "type": "integer",
            "nullable": true,
            "description": "Seed is used to reproduce results, same seed will give you same image in return again. Pass null for a random number"
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "A URL to receive a POST API call once the image generation is complete"
          },
          "track_id": {
            "type": "integer",
            "nullable": true,
            "description": "An ID returned in the API response, used to identify the webhook request"
          },
          "specific_object": {
            "type": "string",
            "nullable": true,
            "description": "Specific object parameter"
          }
        }
      },
      "FetchRequest": {
        "type": "object",
        "required": ["key"],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for request authorization"
          }
        }
      },
      "SuccessInteriorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success"]
          },
          "generationTime": {
            "type": "number",
            "description": "Time taken to generate the result in seconds"
          },
          "id": {
            "type": "integer",
            "description": "Unique identifier for the generation request"
          },
          "output": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Array of URLs to the generated images"
          },
          "proxy_links": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Array of proxy URLs for the generated images"
          },
          "meta": {
            "type": "object",
            "description": "Metadata about the generation process and parameters used"
          }
        }
      },
      "ProcessingInteriorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["processing"]
          },
          "tip": {
            "type": "string",
            "description": "Your image is processing in background, you can get this image using fetch API"
          },
          "eta": {
            "type": "integer",
            "description": "Estimated time remaining in seconds"
          },
          "message": {
            "type": "string",
            "description": "Try to fetch request after seconds estimated"
          },
          "fetch_result": {
            "type": "string",
            "format": "uri",
            "description": "URL to fetch the result when processing is complete"
          },
          "id": {
            "type": "integer",
            "description": "Unique identifier for the generation request"
          },
          "output": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Empty array during processing"
          },
          "meta": {
            "type": "object",
            "description": "Metadata about the generation process and parameters used"
          },
          "future_links": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Array of URLs where the files will be available once processing is complete"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["status", "message"],
        "properties": {
          "status": {
            "type": "string",
            "enum": ["error"]
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}
