{
  "openapi": "3.0.0",
  "info": {
    "title": "ModelsLab Enterprise MiniMax H3 API",
    "version": "1.0.0",
    "description": "Enterprise endpoints for the MiniMax H3 API including text to video, image to video, cache clearing, queue clearing, fetch, and server management."
  },
  "servers": [
    {
      "url": "https://modelslab.com/api/v1/enterprise"
    }
  ],
  "paths": {
    "/minimax_h3/clear_cache": {
      "post": {
        "summary": "Clear API Cache",
        "description": "Clears the API's cache.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": { "type": "string", "description": "Your API key" }
                },
                "required": ["key"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cache cleared successfully",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "Cache cleared successfully"
                }
              }
            }
          }
        }
      }
    },
    "/minimax_h3/clear_queue": {
      "post": {
        "summary": "Clear API Queue",
        "description": "Clears the API's queue.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": { "type": "string", "description": "Your API key" }
                },
                "required": ["key"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queue cleared successfully",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "Queue cleared, server is restarting"
                }
              }
            }
          }
        }
      }
    },
    "/minimax_h3/fetch/{id}": {
      "post": {
        "summary": "Fetch Queued Videos",
        "description": "Fetches the queued video result by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": { "type": "string", "description": "Your API key" }
                },
                "required": ["key"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fetch successful",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "id": 12202888,
                  "output": [
                    "https://pub-8b49af329fae499aa563997f5d4068a4.r2.dev/generations/e5cd86d3-7305-47fc-82c1-7d1a3b130fa4.mp4"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/minimax_h3/restart_server": {
      "post": {
        "summary": "Restart Server",
        "description": "Restarts the dedicated server.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": { "type": "string", "description": "Your API key" }
                },
                "required": ["key"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Server restarting",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "server restarting"
                }
              }
            }
          }
        }
      }
    },
    "/minimax_h3/system_details": {
      "post": {
        "summary": "System Details",
        "description": "Gets information about the server.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": { "type": "string", "description": "Your API key" }
                },
                "required": ["key"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "System details retrieved",
            "content": {
              "application/json": {
                "example": {
                  "model_count": 0,
                  "queue_time": 0,
                  "status": "ok"
                }
              }
            }
          }
        }
      }
    },
    "/minimax_h3/update_server": {
      "post": {
        "summary": "Update Server",
        "description": "Updates the dedicated server to the latest version.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": { "type": "string", "description": "Your API key" }
                },
                "required": ["key"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Server updated successfully",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "message": "Server updated successfully"
                }
              }
            }
          }
        }
      }
    }
  }
}
