{
  "openapi": "3.1.0",
  "info": {
    "title": "ModelsLab Image Editing API",
    "description": "Image editing endpoints for ModelsLab API including background removal, super resolution, face generation, fashion try-on, and various image manipulation tools",
    "license": {
      "name": "MIT"
    },
    "version": "6.0.0"
  },
  "servers": [
    {
      "url": "https://modelslab.com/api/v6",
      "description": "Image Editing API v6 server"
    }
  ],
  "paths": {
    "/image_editing/removebg_mask": {
      "post": {
        "summary": "Background removal and create mask",
        "description": "This endpoint removes background from image and create mask",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveBgMaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Background removal response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ImageEditingSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingProcessingResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingErrorResponse"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/image_editing/super_resolution": {
      "post": {
        "summary": "Super resolution image enhancement",
        "description": "Super Resolution API returns a super resolution version of an image that is passed to the init_image attribute",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuperResolutionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Super resolution response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ImageEditingSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingProcessingResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingErrorResponse"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
     "/image_editing/caption": {
      "post": {
        "summary": "Caption",
        "description": "This endpoint allows you to caption image.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Caption response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ImageEditingSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingProcessingResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingErrorResponse"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/image_editing/base64_to_url": {
      "post": {
        "summary": "Convert base64 to URL",
        "description": "This endpoint allows you to upload image in base64 format and get it in url format",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Base64ToUrlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Base64 to URL response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Base64ToUrlResponse"
                }
              }
            }
          }
        }
      }
    },
    "/images/img2img": {
      "post": {
        "summary": "Generate image from text and reference images (Flux Kontext Model)",
        "description": "The Image to Image API is used to create high-quality images from text prompts combined with reference images using the Flux Kontext model. This endpoint allows you to blend elements from multiple input images guided by text descriptions.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FluxKontextImageToImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Flux Kontext Image to Image generation response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/FluxKontextImageGenerationSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/FluxKontextImageGenerationProcessingResponse"
                    },
                    {
                      "$ref": "#/components/schemas/FluxKontextImageGenerationErrorResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/StandardErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/StandardErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/StandardErrorResponse"
          }
        }
      }
    },
    "/image_editing/face_gen": {
      "post": {
        "summary": "Face generator",
        "description": "This endpoint allows you to generate image with the face image provided",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FaceGenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Face generation response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ImageEditingSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingProcessingResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingErrorResponse"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/image_editing/fashion": {
      "post": {
        "summary": "Fashion try-on",
        "description": "This endpoint allows you to wear a cloth image sample on an existing model body",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FashionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fashion try-on response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ImageEditingSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingProcessingResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingErrorResponse"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/image_editing/qwen_edit": {
      "post": {
        "summary": "Qwen Edit",
        "description": "This endpoint allows you to edit images using Qwen model",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QwenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Qwen Edit response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ImageEditingSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingProcessingResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingErrorResponse"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/image_editing/fetch/{id}": {
      "post": {
        "summary": "Fetch queued images",
        "description": "Fetch Queued Images API fetches queued images from stable diffusion processing",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the queued image request"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fetch queued images response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/FetchSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/FetchProcessingResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingErrorResponse"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/image_editing/flux_headshot": {
      "post": {
        "summary": "Flux head shot generator",
        "description": "This endpoint allows you to generate head shot with flux capabilities (Enterprise feature)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FluxHeadshotRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Flux headshot response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ImageEditingSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingProcessingResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingErrorResponse"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/image_editing/head_shot": {
      "post": {
        "summary": "Head shot generator",
        "description": "This endpoint allows you to generate head shot image",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HeadShotRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Head shot response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ImageEditingSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingProcessingResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingErrorResponse"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/image_editing/img_mixer": {
      "post": {
        "summary": "Image mixer",
        "description": "This endpoint generates image by mixing multiple images",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageMixerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image mixer response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ImageEditingSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingProcessingResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingErrorResponse"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/image_editing/inpaint": {
      "post": {
        "summary": "Image inpainting",
        "description": "This endpoint generates and returns an image from an image and a mask passed with their URLs in the request",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InpaintRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inpainting response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ImageEditingSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingProcessingResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingErrorResponse"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/image_editing/mask_creator": {
      "post": {
        "summary": "Mask creator",
        "description": "This endpoint helps to mask an object on a given image",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaskCreatorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mask creator response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ImageEditingSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingProcessingResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingErrorResponse"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/image_editing/object_removal": {
      "post": {
        "summary": "Object removal",
        "description": "This endpoint helps to remove object from an existing image",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectRemovalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Object removal response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ImageEditingSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingProcessingResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingErrorResponse"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/image_editing/outpaint": {
      "post": {
        "summary": "Image outpainting",
        "description": "This endpoint helps to outpaint by expanding the given image",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutpaintRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Outpainting response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ImageEditingSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingProcessingResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ImageEditingErrorResponse"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RemoveBgMaskRequest": {
        "type": "object",
        "required": [
          "key",
          "image"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for request authorization"
          },
          "image": {
            "type": "string",
            "description": "Link or valid base64 data for the image"
          },
          "alpha_matting": {
            "type": "boolean",
            "default": false,
            "description": "Whether to perform alpha matting"
          },
          "post_process_mask": {
            "type": "boolean",
            "default": false,
            "description": "Whether to post-process the mask image"
          },
          "only_mask": {
            "type": "boolean",
            "default": false,
            "description": "Whether to return only the mask image"
          },
          "inverse_mask": {
            "type": "boolean",
            "default": false,
            "description": "This will inverse the generated mask"
          },
          "seed": {
            "type": "integer",
            "description": "Seed for reproducible results"
          },
          "base64": {
            "type": "boolean",
            "default": false,
            "description": "Get response as base64 string"
          },
          "alpha_matting_foreground_threshold": {
            "type": "integer",
            "minimum": 0,
            "maximum": 240,
            "default": 240
          },
          "alpha_matting_background_threshold": {
            "type": "integer",
            "minimum": 0,
            "maximum": 20,
            "default": 20
          },
          "alpha_matting_erode_size": {
            "type": "integer",
            "minimum": 0,
            "maximum": 5,
            "default": 5
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive POST API call when complete"
          },
          "track_id": {
            "type": "integer",
            "description": "ID for webhook identification"
          }
        }
      },
      "SuperResolutionRequest": {
        "type": "object",
        "required": [
          "key",
          "init_image"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for request authorization"
          },
          "init_image": {
            "type": "string",
            "format": "uri",
            "description": "The URL of the image that you want to upscale"
          },
          "model_id": {
            "type": "string",
            "default": "realesr-general-x4v3",
            "enum": [
              "RealESRGAN_x4plus",
              "RealESRGAN_x4plus_anime_6B",
              "RealESRGAN_x2plus",
              "realesr-general-x4v3",
              "ultra_resolution"
            ]
          },
          "scale": {
            "type": "integer",
            "default": 3,
            "description": "A number for scaling the image"
          },
          "face_enhance": {
            "type": "boolean",
            "default": false,
            "description": "A boolean flag for face enhancement feature"
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive POST API call when complete"
          },
          "track_id": {
            "type": "integer",
            "description": "ID for webhook identification"
          }
        }
      },
      "Base64ToUrlRequest": {
        "type": "object",
        "required": [
          "key",
          "init_image"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for request authorization"
          },
          "init_image": {
            "type": "string",
            "description": "Base64 format of the image file"
          }
        }
      },
      "Base64ToUrlResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "id": {
            "type": "integer",
            "description": "Unique identifier for the upload"
          },
          "output": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Array of URLs to the uploaded files"
          }
        }
      },
      "FaceGenRequest": {
        "type": "object",
        "required": [
          "key",
          "prompt",
          "face_image"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for request authorization"
          },
          "prompt": {
            "type": "string",
            "description": "The text prompt describing the content you want in the generated image"
          },
          "face_image": {
            "type": "string",
            "description": "Link or valid base64 data of the face you want your generations to resemble"
          },
          "width": {
            "type": "integer",
            "maximum": 512,
            "description": "The width of the generated image, If not provided, the width of face_image is used"
          },
          "height": {
            "type": "integer",
            "maximum": 768,
            "description": "The height of the generated image, If not provided, the height of face_image is used"
          },
          "num_inference_steps": {
            "type": "integer",
            "enum": [
              21,
              31,
              41
            ],
            "description": "The number of denoising steps"
          },
          "guidance_scale": {
            "type": "number",
            "minimum": 1,
            "maximum": 20,
            "description": "The scale for classifier-free guidance"
          },
          "s_scale": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 2.0,
            "default": 1.0,
            "description": "Adjust the weight of the face structure"
          },
          "samples": {
            "type": "integer",
            "maximum": 2,
            "description": "The number of images to be returned in response"
          },
          "safety_checker": {
            "type": "boolean",
            "description": "Whether to run the safety checker"
          },
          "safety_checker_type": {
            "type": "string",
            "enum": [
              "black",
              "blur",
              "sensitive_content_text",
              "pixelate"
            ]
          },
          "base64": {
            "type": "boolean",
            "default": false,
            "description": "Set to true for base64 response"
          },
          "style": {
            "type": "string",
            "enum": [
              "comic",
              "chibi",
              "3d",
              "anime",
              "realistic"
            ],
            "default": "realistic"
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive POST API call when complete"
          },
          "track_id": {
            "type": "integer",
            "description": "ID for webhook identification"
          }
        }
      },
      "QwenRequest": {
        "type": "object",
        "required": [
          "key",
          "prompt",
          "init_image"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for request authorization"
          },
          "prompt": {
            "type": "string",
            "description": "The text prompt describing the content you want in the generated image"
          },
          "init_image": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Link the image you want your generations to  edit and manipulate"
          },
           "safety_checker": {
            "type": "boolean",
            "description": "Whether to run the safety checker"
          },
          "base64": {
            "type": "boolean",
            "default": false,
            "description": "Set to true for base64 response"
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive POST API call when complete"
          },
          "track_id": {
            "type": "integer",
            "description": "ID for webhook identification"
          }
        }
      },
      "CaptionRequest": {
        "type": "object",
        "required": [
          "key",
          "prompt",
          "init_image"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for request authorization"
          },
          "init_image": {
            "type": "string",
            "description": "Link the image you want your generate prompt from. Available formats: `png`, `jpeg`, `jpg`"
          },
           "length": {
            "type": "string",
             "enum": [
              "short",
              "normal",
              "long"
            ],
            "default": "normal",
            "description": "the length of the caption"
          },
          "base64": {
            "type": "boolean",
            "default": false,
            "description": "Set to true for base64 response"
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive POST API call when complete"
          },
          "track_id": {
            "type": "integer",
            "description": "ID for webhook identification"
          }
        }
      },
      "FashionRequest": {
        "type": "object",
        "required": [
          "key",
          "init_image",
          "cloth_image",
          "cloth_type"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for request authorization"
          },
          "init_image": {
            "type": "string",
            "format": "uri",
            "description": "The URL of the image of the model to try the dress on"
          },
          "cloth_image": {
            "type": "string",
            "format": "uri",
            "description": "The URL of the cloth/dress to try on"
          },
          "cloth_type": {
            "type": "string",
            "enum": [
              "upper_body",
              "lower_body",
              "dresses"
            ],
            "description": "Type of garment"
          },
          "prompt": {
            "type": "string",
            "description": "The text prompt describing the things you want in the image"
          },
          "negative_prompt": {
            "type": "string",
            "description": "Items you do not want in the image"
          },
          "num_inference_steps": {
            "type": "integer",
            "enum": [
              21,
              31,
              41
            ],
            "description": "The number of denoising steps"
          },
          "temp": {
            "type": "string",
            "enum": [
              "yes",
              "no"
            ],
            "default": "no",
            "description": "Set to yes for proxy links"
          },
          "guidance_scale": {
            "type": "integer",
            "minimum": 1,
            "maximum": 20,
            "description": "The scale for classifier-free guidance"
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive POST API call when complete"
          },
          "track_id": {
            "type": "integer",
            "description": "ID for webhook identification"
          }
        }
      },
      "FetchRequest": {
        "type": "object",
        "required": [
          "key"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for request authorization"
          }
        }
      },
      "FluxHeadshotRequest": {
        "type": "object",
        "required": [
          "key",
          "prompt",
          "face_image",
          "seed"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for request authorization"
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt with description of the things you want in the image"
          },
          "face_image": {
            "type": "string",
            "description": "Link or valid base64 string image for the face"
          },
          "width": {
            "type": "integer",
            "maximum": 1024,
            "description": "Width of your generated image, If not provided, the width of face_image is used"
          },
          "height": {
            "type": "integer",
            "maximum": 1024,
            "description": "Height of your generated image, If not provided, the height of face_image is used"
          },
          "num_inference_steps": {
            "type": "integer",
            "maximum": 26,
            "description": "Number of denoising steps"
          },
          "guidance_scale": {
            "type": "number",
            "minimum": 1.0,
            "maximum": 10.0,
            "description": "Scale for classifier-free guidance"
          },
          "seed": {
            "type": "integer",
            "description": "Seed is used to reproduce results"
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive POST API call when complete"
          },
          "track_id": {
            "type": "integer",
            "description": "ID for webhook identification"
          }
        }
      },
      "HeadShotRequest": {
        "type": "object",
        "required": [
          "key",
          "prompt",
          "face_image"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for request authorization"
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt describing the content you want in the generated image"
          },
          "face_image": {
            "type": "string",
            "description": "Link or valid base64 data of the face you want your generations to resemble"
          },
          "width": {
            "type": "integer",
            "maximum": 512,
            "description": "Width of your generated image, If not provide width of face_image is used"
          },
          "height": {
            "type": "integer",
            "maximum": 768,
            "description": "Height of your generated image, If not provide height of face_image is used"
          },
          "num_inference_steps": {
            "type": "integer",
            "enum": [
              21,
              31,
              41
            ],
            "description": "Number of denoising steps"
          },
          "guidance_scale": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5,
            "description": "Scale for classifier-free guidance"
          },
          "s_scale": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 2.0,
            "default": 1.0,
            "description": "Adjust the weight of the face structure"
          },
          "samples": {
            "type": "integer",
            "maximum": 2,
            "description": "The number of images to be returned in response"
          },
          "safety_checker": {
            "type": "boolean",
            "description": "Whether to run the safety checker"
          },
          "safety_checker_type": {
            "type": "string",
            "enum": [
              "black",
              "blur",
              "sensitive_content_text",
              "pixelate"
            ]
          },
          "base64": {
            "type": "boolean",
            "default": false,
            "description": "Set to true for base64 response"
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive POST API call when complete"
          },
          "track_id": {
            "type": "integer",
            "description": "ID for webhook identification"
          }
        }
      },
      "ImageMixerRequest": {
        "type": "object",
        "required": [
          "key",
          "prompt",
          "init_image"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for request authorization"
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt with description of the things you want in the image"
          },
          "negative_prompt": {
            "type": "string",
            "description": "Items you don't want in the image"
          },
          "init_image": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "maxItems": 4,
            "description": "An array of image URLs to mix"
          },
          "width": {
            "type": "integer",
            "maximum": 1024,
            "description": "The width of the generated images, If not provided, the width of init_image is used"
          },
          "height": {
            "type": "integer",
            "maximum": 1024,
            "description": "The height of the generated images, If not provided, the height of init_image is used"
          },
          "steps": {
            "type": "integer",
            "minimum": 1,
            "maximum": 50,
            "description": "Number of denoising steps"
          },
          "guidance_scale": {
            "type": "number",
            "minimum": 1,
            "maximum": 20,
            "description": "Scale for classifier-free guidance"
          },
          "seed": {
            "type": "integer",
            "description": "Seed used to reproduce results"
          },
          "samples": {
            "type": "integer",
            "maximum": 1,
            "description": "Number of images to be returned in response"
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive POST API call when complete"
          },
          "track_id": {
            "type": "integer",
            "description": "ID for webhook identification"
          }
        }
      },
      "InpaintRequest": {
        "type": "object",
        "required": [
          "key",
          "prompt",
          "init_image",
          "mask_image"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for request authorization"
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt describing the content you want in the generated image"
          },
          "negative_prompt": {
            "type": "string",
            "description": "Items you do not want in the image"
          },
          "init_image": {
            "type": "string",
            "format": "uri",
            "description": "Link to the initial image"
          },
          "mask_image": {
            "type": "string",
            "format": "uri",
            "description": "Link to the mask image for inpainting"
          },
          "width": {
            "type": "integer",
            "default": 512,
            "maximum": 1024,
            "description": "The width of the generated images, If not provided, the width of init_image is used"
          },
          "height": {
            "type": "integer",
            "default": 512,
            "maximum": 1024,
            "description": "The height of the generated images, If not provided, the height of init_image is used"
          },
          "samples": {
            "type": "integer",
            "default": 1,
            "maximum": 4,
            "description": "Number of images to be returned in response"
          },
          "num_inference_steps": {
            "type": "integer",
            "default": 30,
            "description": "Number of denoising steps"
          },
          "safety_checker": {
            "type": "string",
            "default": "no",
            "enum": [
              "yes",
              "no"
            ],
            "description": "A checker for NSFW images"
          },
          "guidance_scale": {
            "type": "integer",
            "default": 5,
            "minimum": 1,
            "maximum": 5,
            "description": "Scale for classifier-free guidance"
          },
          "strength": {
            "type": "number",
            "default": 0.7,
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Prompt strength when using the initial image"
          },
          "instant_response": {
            "type": "string",
            "enum": [
              "true",
              "false"
            ],
            "default": "false",
            "description": "Set to true for instant queue response"
          },
          "base64": {
            "type": "string",
            "enum": [
              "true",
              "false"
            ],
            "default": "false",
            "description": "Set to true to get response as base64 string"
          },
          "seed": {
            "type": "integer",
            "description": "Seed used to reproduce results"
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive POST API call when complete"
          },
          "track_id": {
            "type": "integer",
            "description": "ID for webhook identification"
          }
        }
      },
      "MaskCreatorRequest": {
        "type": "object",
        "required": [
          "key",
          "specific_object"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for request authorization"
          },
          "specific_object": {
            "type": "string",
            "description": "Description of the object to mask"
          },
          "base64": {
            "type": "boolean",
            "description": "True or false for base64 response"
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive POST API call when complete"
          },
          "track_id": {
            "type": "integer",
            "description": "ID for webhook identification"
          }
        }
      },
      "ObjectRemovalRequest": {
        "type": "object",
        "required": [
          "key",
          "init_image",
          "mask_image"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for request authorization"
          },
          "init_image": {
            "type": "string",
            "format": "uri",
            "description": "Link to the actual image"
          },
          "mask_image": {
            "type": "string",
            "format": "uri",
            "description": "Link to the mask area you want to remove"
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive POST API call when complete"
          },
          "track_id": {
            "type": "integer",
            "description": "ID for webhook identification"
          }
        }
      },
      "OutpaintRequest": {
        "type": "object",
        "required": [
          "key",
          "image"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for request authorization"
          },
          "prompt": {
            "type": "string",
            "default": "high quality",
            "description": "The text prompt to guide image generation"
          },
          "negative_prompt": {
            "type": "string",
            "default": "low quality",
            "description": "Aspects to avoid in the generated image"
          },
          "image": {
            "type": "string",
            "format": "uri",
            "description": "URL of the initial image to outpaint"
          },
          "width": {
            "type": "integer",
            "maximum": 1440,
            "default": 1280,
            "description": "Width of the output image"
          },
          "height": {
            "type": "integer",
            "maximum": 1440,
            "default": 720,
            "description": "Height of the output image"
          },
          "overlap_width": {
            "type": "integer",
            "maximum": 42,
            "default": 10,
            "description": "Width of the mask overlap area"
          },
          "num_inference_steps": {
            "type": "integer",
            "maximum": 30,
            "default": 10,
            "description": "Number of denoising steps"
          },
          "guidance_scale": {
            "type": "number",
            "default": 8.0,
            "description": "How closely to follow the prompt"
          },
          "seed": {
            "type": "integer",
            "description": "Seed for reproducible results"
          },
          "temp": {
            "type": "boolean",
            "default": true,
            "description": "Whether to save output temporarily"
          },
          "base64": {
            "type": "boolean",
            "default": false,
            "description": "Whether the image is base64 encoded"
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive POST API call when complete"
          },
          "track_id": {
            "type": "integer",
            "description": "ID for webhook identification"
          }
        }
      },
      "FluxKontextImageToImageRequest": {
        "type": "object",
        "required": [
          "key",
          "model_id",
          "prompt",
          "init_image"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for request authorization."
          },
          "model_id": {
            "type": "string",
            "description": "The ID of the model. Must be 'flux-kontext-dev' for Flux Kontext model.",
            "default": "flux-kontext-dev"
          },
          "prompt": {
            "type": "string",
            "description": "A text description of the things you want in the generated image, referencing elements from the input images."
          },
          "negative_prompt": {
            "type": "string",
            "description": "Items you don't want in the image. Helps exclude unwanted elements, artifacts, or styles from the generation."
          },
          "init_image": {
            "type": "string",
            "format": "uri",
            "description": "URL of the primary reference image to use as a base for the generation."
          },
          "init_image_2": {
            "type": "string",
            "format": "uri",
            "description": "URL of the secondary reference image to incorporate elements from. Optional for single-image workflows."
          },
            "safety_checker": {
            "type": "boolean",
            "description": "Whether to run the safety checker"
          },
          "num_inference_steps": {
            "oneOf": [
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 50
              },
              {
                "type": "string",
                "pattern": "^[1-9][0-9]*$"
              }
            ],
            "default": "28",
            "description": "The number of denoising steps. Values typically range from 1 to 50. Can be provided as integer or string."
          },
          "strength": {
            "oneOf": [
              {
                "type": "number",
                "minimum": 0.0,
                "maximum": 1.0
              },
              {
                "type": "string",
                "pattern": "^0(\\.[0-9]+)?$|^1(\\.0+)?$"
              }
            ],
            "default": "0.5",
            "description": "Controls how much the output image should resemble the input image. 0.0 means identical to input, 1.0 means completely different. Can be provided as number or string."
          },
          "guidance": {
            "oneOf": [
              {
                "type": "number",
                "minimum": 0.0,
                "maximum": 20.0
              },
              {
                "type": "string",
                "pattern": "^([0-9]*[.])?[0-9]+$"
              }
            ],
            "default": "2.5",
            "description": "Scale for classifier-free guidance. Higher values make the model follow the prompt more closely. Can be provided as number or string."
          },
          "enhance_prompt": {
            "type": "boolean",
            "nullable": true,
            "description": "Enhance prompts for better results. Set to null to use model defaults."
          },
          "width": {
            "type": "integer",
            "default": 512,
            "maximum": 1024,
            "description": "The width of the output image in pixels. Maximum value is 1024."
          },
          "height": {
            "type": "integer",
            "default": 512,
            "maximum": 1024,
            "description": "The height of the output image in pixels. Maximum value is 1024."
          },
          "samples": {
            "type": "integer",
            "default": 1,
            "maximum": 4,
            "description": "The number of images to be returned in response. Maximum value is 4."
          },
          "seed": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Used to reproduce results. The same seed will generate the same image again. Pass null for a random number."
          },
          "base64": {
            "type": "boolean",
            "default": false,
            "description": "Get response as a base64 string."
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive a POST API call once image generation is complete."
          },
          "track_id": {
            "type": "string",
            "description": "This ID is returned in the response to the webhook API call and is used to identify the webhook request."
          },
          "temp": {
            "type": "boolean",
            "default": false,
            "description": "Create a temporary image link valid for 24 hours."
          }
        }
      },
      "FluxKontextImageGenerationSuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ],
            "description": "Status of the image generation."
          },
          "generationTime": {
            "type": "number",
            "description": "Time taken to generate the image in seconds."
          },
          "id": {
            "type": "integer",
            "description": "Unique identifier for the image generation request."
          },
          "output": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Array of generated image URLs."
          },
          "proxy_links": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Array of proxy image URLs."
          },
          "meta": {
            "type": "object",
            "description": "Metadata about the image generation including all parameters used.",
            "additionalProperties": true
          },
          "nsfw_content_detected": {
            "type": "boolean",
            "description": "Indicates if NSFW content was detected in the generated image."
          }
        }
      },
      "FluxKontextImageGenerationProcessingResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "processing"
            ],
            "description": "Status of the image generation."
          },
          "tip": {
            "type": "string",
            "description": "Information about faster processing options."
          },
          "eta": {
            "type": "number",
            "description": "Estimated time for completion in seconds."
          },
          "message": {
            "type": "string",
            "description": "Processing status message."
          },
          "fetch_result": {
            "type": "string",
            "format": "uri",
            "description": "URL to fetch the result when processing."
          },
          "id": {
            "type": "integer",
            "description": "Unique identifier for the image generation request."
          },
          "output": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Empty array during processing."
          },
          "meta": {
            "type": "object",
            "description": "Metadata about the image generation including all parameters used.",
            "additionalProperties": true
          },
          "future_links": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Array of future image URLs for queued requests."
          },
          "proxy_links": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Array of proxy image URLs."
          }
        }
      },
      "FluxKontextImageGenerationErrorResponse": {
        "type": "object",
        "required": [
          "status",
          "message"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "message": {
            "type": "string",
            "description": "Error message description."
          }
        }
      },
    "ImageEditingSuccessResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "success"
          ]
        },
        "generationTime": {
          "type": "number",
          "description": "Time taken to generate the image in seconds"
        },
        "id": {
          "type": "integer",
          "description": "Unique identifier for the generation request"
        },
        "output": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "uri"
          },
          "description": "Array of generated image URLs"
        },
        "proxy_links": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "uri"
          },
          "description": "Array of proxy image URLs"
        },
        "meta": {
          "type": "object",
          "description": "Metadata about the generation process",
          "additionalProperties": true
        }
      }
    },
    "ImageEditingProcessingResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "processing"
          ]
        },
        "tip": {
          "type": "string",
          "description": "Information about the processing status"
        },
        "eta": {
          "type": "integer",
          "description": "Estimated time remaining in seconds"
        },
        "message": {
          "type": "string",
          "description": "Processing status message"
        },
        "fetch_result": {
          "type": "string",
          "format": "uri",
          "description": "URL to fetch the result when ready"
        },
        "id": {
          "type": "integer",
          "description": "Unique identifier for the generation request"
        },
        "output": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Empty array during processing"
        },
        "future_links": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "uri"
          },
          "description": "Array of future image URLs"
        },
        "proxy_links": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "uri"
          },
          "description": "Array of proxy image URLs"
        },
        "meta": {
          "type": "object",
          "description": "Metadata about the generation process",
          "additionalProperties": true
        }
      }
    },
    "ImageEditingErrorResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "error"
          ]
        },
        "message": {
          "type": "string",
          "description": "Error message describing what went wrong"
        }
      }
    },
    "FetchSuccessResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "success"
          ]
        },
        "id": {
          "type": "integer",
          "description": "Unique identifier for the generation request"
        },
        "output": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "uri"
          },
          "description": "Array of generated image URLs"
        }
      }
    },
    "FetchProcessingResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "processing"
          ]
        },
        "message": {
          "type": "string",
          "description": "Processing status message"
        },
        "output": {
          "type": "string",
          "description": "Empty string during processing"
        },
        "tip": {
          "type": "string",
          "description": "Information about faster processing options"
        }
      }
    }
  },
  "responses": {
      "StandardErrorResponse": {
        "description": "Standard error response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "enum": ["error"]
                },
                "message": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        }
      }
    }
  }
}