{
  "openapi": "3.1.0",
  "info": {
    "title": "ModelsLab Image Generation API",
    "description": "A comprehensive API for AI-driven image generation including text-to-image, image-to-image, inpainting, LoRA/Multi LoRA, and model management capabilities.",
    "license": {
      "name": "MIT"
    },
    "version": "6.0.0"
  },
  "servers": [
    {
      "url": "https://modelslab.com/api/v6"
    }
  ],
  "paths": {
    "/images/fetch": {
      "post": {
        "summary": "Fetch queued images by ID",
        "description": "Retrieves images that are currently queued or have been processed based on their request ID.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchQueuedImagesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fetched image response (success or processing)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                },
                "examples": {
                  "Success": {
                    "value": {
                      "status": "success",
                      "id": 13443927,
                      "output": [
                        "https://pub-8b49af329fae499aa563997f5d4068a4.r2.dev/generations/6ef3f81f-14e1-4835-b07a-e00dbe80b6ff-0.png"
                      ]
                    }
                  },
                  "Processing": {
                    "value": {
                      "status": "processing",
                      "message": "try again later.",
                      "output": [],
                      "tip": "Get 20x faster image generation using enterprise plan. Click here : https://modelslab.com/enterprise",
                      "eta": 2.75,
                      "webhook_status": "",
                      "fetch_result": "https://modelslab.com/api/v6/images/fetch/134701497",
                      "id": 134711525,
                      "meta": {
                          "prompt": "...",
                          "model_id": "...",
                          "...": "..."
                      },
                      "future_links": [
                          "https://pub-3626123a908346a7a8be8d9295f44e26.r2.dev/generations/0-cd13e549-a68f-4274-adfb-1da1cd9e81d5.jpg"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/images/img2img": {
      "post": {
        "summary": "Generate image from image",
        "description": "Generates a new image based on an initial image, a text prompt, and a model.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageToImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image generation response (success or processing)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                },
                "examples": {
                  "Success": {
                    "value": {
                      "status": "success",
                      "generationTime": 9.07,
                      "id": 112514254,
                      "output": [
                        "https://d9jy2smsrdjcq.cloudfront.net/generations/0-8751f0cf-25f3-41ca-8259-e22d01d05143.png"
                      ],
                      "proxy_links": "",
                      "nsfw_content_detected": false,
                      "webhook_status": "",
                      "meta": {
                          "prompt": "women playing tennis hyperrealistic, full body, detailed clothing, highly detailed, cinematic lighting, stunningly beautiful, intricate, sharp focus, f/1. 8, 85mm, (centered image composition), (professionally color graded), ((bright soft diffused light)), volumetric fog, trending on instagram, trending on tumblr, HDR 4K, 8K",
                          "model_id": "realistic-vision-51",
                          "scheduler": "UniPCMultistepScheduler",
                          "safety_checker": "yes",
                          "negative_prompt": " (child:1.5), ((((underage)))), ((((child)))), (((kid))), (((preteen))), (teen:1.5) ugly, tiling, poorly drawn hands, poorly drawn feet, poorly drawn face, out of frame, extra limbs, disfigured, deformed, body out of frame, bad anatomy, watermark, signature, cut off, low contrast, underexposed, overexposed, bad art, beginner, amateur, distorted face, blurry, draft, grainy",
                          "W": 736,
                          "H": 736,
                          "guidance_scale": 7.5,
                          "init_image": "https://i.pinimg.com/736x/20/ab/3d/20ab3df5c180e1cae812020bcfeb3093.jpg",
                          "steps": 30,
                          "n_samples": 1,
                          "strength": 0.7,
                          "multi_lingual": "no",
                          "tomesd": "yes",
                          "use_karras_sigmas": "yes",
                          "algorithm_type": "no",
                          "safety_checker_type": "sensitive_content_text",
                          "instant_response": "no",
                          "full_url": "no",
                          "upscale": "no",
                          "vae": null,
                          "ip_adapter_id": null,
                          "enhance_prompt": "yes",
                          "enhance_style": null,
                          "ip_adapter_scale": 0.6,
                          "ip_adapter_image": null,
                          "lora": null,
                          "lora_strength": 1,
                          "seed": 4139316548,
                          "outdir": "out",
                          "file_prefix": "79920644-ac2e-42ff-9bee-d4aad967b016.png",
                          "clip_skip": 1,
                          "watermark": "no",
                          "temp": "no",
                          "base64": "no"
                      },
                      "tip": "Get 20x faster image generation using enterprise plan. Click here : https://modelslab.com/enterprise"
                    }
                  },
                  "Processing": {
                    "value": {
                        "status": "processing",
                        "tip": "Get 20x faster image generation using enterprise plan. Click here : https://modelslab.com/enterprise",
                        "tip_1": "Your image is processing in background, you can get this image using fetch API: here is link for fetch api : https://docs.modelslab.com/image-generation/community-models/dreamboothfetchqueimg",
                        "eta": 2.75,
                        "message": "Try to fetch request after seconds estimated",
                        "webhook_status": "",
                        "fetch_result": "https://modelslab.com/api/v6/images/fetch/134701497",
                        "id": 134711525,
                        "output": [],
                        "meta": {
                            "prompt": " women playing tennis hyperrealistic, full body, detailed clothing, highly detailed, cinematic lighting, stunningly beautiful, intricate, sharp focus, f/1. 8, 85mm, (centered image composition), (professionally color graded), ((bright soft diffused light)), volumetric fog, trending on instagram, trending on tumblr, HDR 4K, 8K",
                            "model_id": "realistic-vision-51",
                            "scheduler": "UniPCMultistepScheduler",
                            "safety_checker": "yes",
                            "negative_prompt": " (child:1.5), ((((underage)))), ((((child)))), (((kid))), (((preteen))), (teen:1.5) ugly, tiling, poorly drawn hands, poorly drawn feet, poorly drawn face, out of frame, extra limbs, disfigured, deformed, body out of frame, bad anatomy, watermark, signature, cut off, low contrast, underexposed, overexposed, bad art, beginner, amateur, distorted face, blurry, draft, grainy",
                            "W": 512,
                            "H": 512,
                            "guidance_scale": 7.5,
                            "init_image": "https://i.pinimg.com/736x/20/ab/3d/20ab3df5c180e1cae812020bcfeb3093.jpg",
                            "steps": 31,
                            "n_samples": 1,
                            "strength": 0.7,
                            "use_karras_sigmas": "yes",
                            "algorithm_type": "no",
                            "safety_checker_type": "sensitive_content_text",
                            "instant_response": "no",
                            "upscale": "no",
                            "vae": null,
                            "ip_adapter_id": null,
                            "enhance_prompt": "yes",
                            "ip_adapter_scale": 0.6,
                            "ip_adapter_image": null,
                            "lora": null,
                            "lora_strength": 1,
                            "seed": 495611481,
                            "outdir": "out",
                            "clip_skip": 1,
                            "watermark": "no",
                            "temp": "no",
                            "base64": "no",
                            "webhook": null,
                            "track_id": null,
                            "id": "134711525",
                            "file_prefix": "cd13e549-a68f-4274-adfb-1da1cd9e81d5.jpg",
                            "is_sdxl": false,
                            "output": [
                                "https://pub-3626123a908346a7a8be8d9295f44e26.r2.dev/generations/0-cd13e549-a68f-4274-adfb-1da1cd9e81d5.jpg"
                            ]
                        },
                        "future_links": [
                            "https://pub-3626123a908346a7a8be8d9295f44e26.r2.dev/generations/0-cd13e549-a68f-4274-adfb-1da1cd9e81d5.jpg"
                        ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/images/inpaint": {
      "post": {
        "summary": "Change part of an image (Inpaint)",
        "description": "Modifies a specific area of an image based on a prompt, an initial image, and a mask image using trained or public models.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InpaintingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image generation response (success or processing)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                },
                "examples": {
                    "Success": {
                      "value": {
                        "status": "success",
                        "generationTime": 20.970642805099487,
                        "id": 13446970,
                        "output": [
                          "https://pub-8b49af329fae499aa563997f5d4068a4.r2.dev/generations/dc639bd6-d605-42c7-950e-48c531124d0d-0.png"
                        ],
                        "meta": {
                          "prompt": " a cat sitting on a bench DSLR photography, sharp focus, Unreal Engine 5, Octane Render, Redshift, ((cinematic lighting)), f/1.4, ISO 200, 1/160s, 8K, RAW, unedited, symmetrical balance, in-frame",
                          "model_id": "midjourney-v4-painta",
                          "scheduler": "PNDMScheduler",
                          "safetychecker": "no",
                          "negative_prompt": " ((out of frame)), ((extra fingers)), mutated hands, ((poorly drawn hands)), ((poorly drawn face)), (((mutation))), (((deformed))), (((tiling))), ((naked)), ((tile)), ((fleshpile)), ((ugly)), (((abstract))), blurry, ((bad anatomy)), ((bad proportions)), ((extra limbs)), cloned face, glitchy, ((extra breasts)), ((double torso)), ((extra arms)), ((extra hands)), ((mangled fingers)), ((missing breasts)), (missing lips), ((ugly face)), ((fat)), ((extra legs))",
                          "W": 512,
                          "H": 512,
                          "guidance_scale": 7.5,
                          "init_image": "https://raw.githubusercontent.com/CompVis/stable-diffusion/main/data/inpainting_examples/overture-creations-5sI6fQgYIuo.png",
                          "mask_image": "https://raw.githubusercontent.com/CompVis/stable-diffusion/main/data/inpainting_examples/overture-creations-5sI6fQgYIuo_mask.png",
                          "steps": 21,
                          "n_samples": 1,
                          "full_url": "no",
                          "upscale": "no",
                          "seed": 1343687916,
                          "outdir": "out",
                          "file_prefix": "dc639bd6-d605-42c7-950e-48c531124d0d"
                        }
                      }
                    },
                    "Processing": {
                      "value": {
                          "status": "processing",
                          "tip": "Get 20x faster image generation using enterprise plan. Click here : https://modelslab.com/enterprise",
                          "tip_1": "Your image is processing in background, you can get this image using fetch API: here is link for fetch api : https://docs.modelslab.com/image-generation/community-models/dreamboothfetchqueimg",
                          "eta": 0.25,
                          "message": "Try to fetch request after seconds estimated",
                          "webhook_status": "",
                          "fetch_result": "https://modelslab.com/api/v6/images/fetch/134712448",
                          "id": 134712448,
                          "output": [],
                          "meta": {
                              "prompt": " anxiaozhi, a cute white robot with a blue screen face wearing a pink dress, in a flower garden.",
                              "model_id": "realistic-vision-51",
                              "scheduler": "DDPMScheduler",
                              "safety_checker": "no",
                              "negative_prompt": "bad quality,bad anatomy,blurry,hazy",
                              "W": 1024,
                              "H": 1024,
                              "guidance_scale": 7.5,
                              "init_image": "https://gitlab.com//-/project/50380374/uploads/990f9affc05324a5c467b4990e5167eb/image.png",
                              "mask_image": "https://gitlab.com//-/project/50380374/uploads/990f9affc05324a5c467b4990e5167eb/image.png",
                              "strength": 0.8,
                              "use_karras_sigmas": "yes",
                              "algorithm_type": "no",
                              "safety_checker_type": "sensitive_content_text",
                              "instant_response": "no",
                              "vae": null,
                              "steps": 31,
                              "n_samples": 4,
                              "ip_adapter_id": null,
                              "ip_adapter_scale": 0.6,
                              "enhance_prompt": "no",
                              "ip_adapter_image": null,
                              "lora": null,
                              "lora_strength": 1,
                              "upscale": "no",
                              "seed": 681162,
                              "outdir": "out",
                              "watermark": "no",
                              "temp": "no",
                              "clip_skip": 1,
                              "base64": "no",
                              "webhook": null,
                              "track_id": null,
                              "id": "134712448",
                              "file_prefix": "0fbc4579-9fa8-4561-a9ae-30a19685573c.jpg",
                              "is_sdxl": false,
                              "output": [
                                  "https://pub-3626123a908346a7a8be8d9295f44e26.r2.dev/generations/0-0fbc4579-9fa8-4561-a9ae-30a19685573c.jpg"
                              ]
                          },
                          "future_links": [
                              "https://pub-3626123a908346a7a8be8d9295f44e26.r2.dev/generations/0-0fbc4579-9fa8-4561-a9ae-30a19685573c.jpg"
                          ]
                      }
                    }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/images/model_reload": {
      "post": {
        "summary": "Reload an idle model",
        "description": "Reloads a model that has been deleted from the inference server after 7 days of inactivity. Takes approximately 2 minutes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReloadModelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Model reload response (processing or success)",
             "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReloadModelResponse"
                }
              }
            }
          },
           "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Model not found",
             "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/images/text2img": {
      "post": {
        "summary": "Generate image from text prompt",
        "description": "Creates an image based on a text description using specified models. Supports LoRA and Multi LoRA.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextToImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image generation response (success or processing)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                },
                "examples": {
                    "Success": {
                      "value": {
                        "status": "success",
                        "generationTime": 14.079592943191528,
                        "id": 13441520,
                        "output": [
                          "https://pub-8b49af329fae499aa563997f5d4068a4.r2.dev/generations/4118bb93-2c49-4d1d-9837-f43a0801e42e-0.png"
                        ],
                        "meta": {
                          "prompt": "mdjrny-v4 style actual 8K portrait photo of gareth person, portrait, happy colors, bright eyes, clear eyes, warm smile, smooth soft skin, big dreamy eyes, beautiful intricate colored hair, symmetrical, anime wide eyes, soft lighting, detailed face, by makoto shinkai, stanley artgerm lau, wlop, rossdraws, concept art, digital painting, looking into camera DSLR photography, sharp focus, Unreal Engine 5, Octane Render, Redshift, ((cinematic lighting)), f/1.4, ISO 200, 1/160s, 8K, RAW, unedited, symmetrical balance, in-frame",
                          "model_id": "midjourney",
                          "negative_prompt": "painting, extra fingers, mutated hands, poorly drawn hands, poorly drawn face, deformed, ugly, blurry, bad anatomy, bad proportions, extra limbs, cloned face, skinny, glitchy, double torso, extra arms, extra hands, mangled fingers, missing lips, ugly face, distorted face, extra legs, anime ((out of frame)), ((extra fingers)), mutated hands, ((poorly drawn hands)), ((poorly drawn face)), (((mutation))), (((deformed))), (((tiling))), ((naked)), ((tile)), ((fleshpile)), ((ugly)), (((abstract))), blurry, ((bad anatomy)), ((bad proportions)), ((extra limbs)), cloned face, glitchy, ((extra breasts)), ((double torso)), ((extra arms)), ((extra hands)), ((mangled fingers)), ((missing breasts)), (missing lips), ((ugly face)), ((fat)), ((extra legs))",
                          "scheduler": "DDPMScheduler",
                          "safetychecker": "no",
                          "W": 512,
                          "H": 512,
                          "guidance_scale": 7.5,
                          "seed": 3292243727,
                          "steps": 20,
                          "n_samples": 1,
                          "full_url": "no",
                          "upscale": "no",
                          "panorama": "no",
                          "self_attention": "no",
                          "lora_model": null,
                          "lora_strength": null,
                          "outdir": "out",
                          "file_prefix": "4118bb93-2c49-4d1d-9837-f43a0801e42e"
                        }
                      }
                    },
                    "Processing": {
                      "value": {
                          "status": "processing",
                          "tip": "Get 20x faster image generation using enterprise plan. Click here : https://modelslab.com/enterprise",
                          "tip_1": "Your image is processing in background, you can get this image using fetch API: here is link for fetch api : https://docs.modelslab.com/image-generation/community-models/dreamboothfetchqueimg",
                          "eta": 2.75,
                          "message": "Try to fetch request after seconds estimated",
                          "webhook_status": "",
                          "fetch_result": "https://modelslab.com/api/v6/images/fetch/134701497",
                          "id": 134701497,
                          "output": [],
                          "meta": {
                              "prompt": " happy man hyperrealistic, full body, detailed clothing, highly detailed, cinematic lighting, stunningly beautiful, intricate, sharp focus, f/1. 8, 85mm, (centered image composition), (professionally color graded), ((bright soft diffused light)), volumetric fog, trending on instagram, trending on tumblr, HDR 4K, 8K",
                              "model_id": "ae-sdxl-v1",
                              "negative_prompt": "ugly, low contrast, tiling, poorly drawn hands, poorly drawn feet, poorly drawn face, out of frame, extra limbs, disfigured, deformed, body out of frame, bad anatomy, watermark, signature, cut off, low contrast, underexposed, overexposed, bad art, beginner, amateur, distorted face, blurry, draft, grainy (child:1.5), ((((underage)))), ((((child)))), (((kid))), (((preteen))), (teen:1.5) ugly, tiling, poorly drawn hands, poorly drawn feet, poorly drawn face, out of frame, extra limbs, disfigured, deformed, body out of frame, bad anatomy, watermark, signature, cut off, low contrast, underexposed, overexposed, bad art, beginner, amateur, distorted face, blurry, draft, grainy",
                              "scheduler": "UniPCMultistepScheduler",
                              "safety_checker": "no",
                              "W": 1024,
                              "H": 1024,
                              "guidance_scale": 7.5,
                              "seed": 1664110298,
                              "steps": 30,
                              "n_samples": 1,
                              "instant_response": "no",
                              "ip_adapter_id": null,
                              "enhance_prompt": "yes",
                              "ip_adapter_scale": 0.6,
                              "ip_adapter_image": null,
                              "upscale": "no",
                              "use_karras_sigmas": "no",
                              "algorithm_type": "no",
                              "safety_checker_type": "sensitive_content_text",
                              "vae": null,
                              "lora": null,
                              "lora_strength": 1,
                              "clip_skip": 1,
                              "watermark": "no",
                              "temp": "no",
                              "base64": "no",
                              "webhook": null,
                              "track_id": null,
                              "id": "134701497",
                              "file_prefix": "c0140913-fe69-465e-9ac3-c6d1b05cfea3.jpg",
                              "is_sdxl": true,
                              "output": [
                                  "https://pub-3626123a908346a7a8be8d9295f44e26.r2.dev/generations/0-c0140913-fe69-46a7-a8be-8d9295f44e26.jpg"
                              ]
                          },
                          "future_links": [
                              "https://pub-3626123a908346a7a8be8d9295f44e26.r2.dev/generations/0-c0140913-fe69-46a7-a8be-8d9295f44e26.jpg"
                          ]
                      }
                    }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FetchQueuedImagesRequest": {
        "type": "object",
        "required": [
          "key",
          "request_id"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for request authorization"
          },
          "request_id": {
            "type": "string",
            "description": "Returned by the id parameter in the response upon an image generation request."
          }
        }
      },
      "ImageToImageRequest": {
        "type": "object",
        "required": [
          "key",
          "model_id",
          "init_image",
          "prompt"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for request authorization."
          },
          "model_id": {
            "type": "string",
            "description": "The ID of the model to be used. It can be a public model or one you have trained."
          },
          "prompt": {
            "type": "string",
            "description": "A text description of what you want in the generated image."
          },
          "negative_prompt": {
            "type": "string",
            "nullable": true,
            "description": "Items you don't want in the image."
          },
          "init_image": {
            "type": "string",
            "format": "uri",
            "description": "Link to the initial image to be used as a reference."
          },
          "samples": {
            "type": "integer",
            "description": "The number of images to be returned in the response.",
            "maximum": 4
          },
          "num_inference_steps": {
            "type": "integer",
            "description": "The number of denoising steps. Values range from 1 to 20, and any value above 20 will be capped at 20.",
            "minimum": 1,
            "maximum": 50
          },
          "safety_checker": {
            "type": "boolean",
            "description": "A checker for NSFW images. If detected, such images will be replaced by a blank image. Default is true.",
            "default": true
          },
          "safety_checker_type": {
            "type": "string",
            "description": "How to modify the image if NSFW content is found. Default is 'sensitive_content_text'.",
            "enum": [
              "blur",
              "sensitive_content_text",
              "pixelate",
              "black"
            ],
            "default": "sensitive_content_text"
          },
          "enhance_prompt": {
            "type": "boolean",
            "description": "Enhance prompts for better results. Default is true.",
            "default": true
          },
          "enhance_style": {
            "type": "string",
            "nullable": true,
            "description": "Allows you to set the style of the image for better results. Refer to documentation for available styles."
          },
          "guidance_scale": {
            "type": "number",
            "description": "Scale for classifier-free guidance.",
            "minimum": 1.0,
            "maximum": 20.0
          },
          "tomesd": {
            "type": "boolean",
            "description": "Enable tomesd to generate images quickly. Default is true.",
            "default": true
          },
          "use_karras_sigmas": {
            "type": "boolean",
            "description": "Use Keras sigmas to generate images. Produces nice results. Default is true.",
            "default": true
          },
          "algorithm_type": {
             "type": "string",
             "description": "Used in the DPMSolverMultistepScheduler scheduler. Default is 'none'.",
             "enum": [
                "none",
                "dpmsolver+++"
             ],
             "default": "none"
          },
          "vae": {
             "type": "string",
             "nullable": true,
             "description": "Use a custom VAE for generating images. Default is null."
          },
          "lora_strength": {
            "type": "string",
            "nullable": true,
            "description": "Specify the strength of the LoRa model(s) you're using. Provide a float value (0.1 to 1) or comma-separated values for multiple LoRAs."
          },
          "lora_model": {
            "type": "string",
            "nullable": true,
            "description": "Pass LoRa model ID(s). Multiple LoRa models are supported; pass comma-separated values (e.g., 'contrast-fix, yae-miko-genshin')."
          },
          "strength": {
            "type": "number",
            "description": "Prompt strength when using the initial image. 1.0 corresponds to full destruction of information in the initial image.",
            "minimum": 0.0,
            "maximum": 1.0
          },
          "seed": {
            "oneOf": [
              { "type": "integer" },
              { "type": "null" }
            ],
            "description": "Used to reproduce results. The same seed will generate the same image again. Pass null for a random number."
          },
          "scheduler": {
            "type": "string",
            "description": "Use this to set a scheduler.",
             "enum": [
                "DDPMScheduler",
                "DDIMScheduler",
                "PNDMScheduler",
                "LMSDiscreteScheduler",
                "EulerDiscreteScheduler",
                "EulerAncestralDiscreteScheduler",
                "DPMSolverMultistepScheduler",
                "HeunDiscreteScheduler",
                "KDPM2DiscreteScheduler",
                "DPMSolverSinglestepScheduler",
                "KDPM2AncestralDiscreteScheduler",
                "UniPCMultistepScheduler",
                "DDIMInverseScheduler",
                "DEISMultistepScheduler",
                "IPNDMScheduler",
                "KarrasVeScheduler",
                "ScoreSdeVeScheduler",
                "LCMScheduler"
             ]
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Set a URL to receive a POST API call once image generation is complete."
          },
          "track_id": {
            "type": "string",
            "nullable": true,
            "description": "This ID is returned in the response to the webhook API call and is used to identify the request."
          },
          "ip_adapter_id": {
            "type": "string",
            "nullable": true,
             "description": "IP adapter ID.",
             "enum": [
                "ip-adapter_sdxl",
                "ip-adapter_sd15",
                "ip-adapter-plus-face_sd15",
                "ip-adapter-plus_sdxl_vit-h",
                "ip-adapter-plus-face_sdxl_vit-h"
             ]
          },
          "ip_adapter_scale": {
            "type": "number",
            "nullable": true,
            "description": "Scale for the IP adapter. Should be between 0 and 1.",
            "minimum": 0.0,
            "maximum": 1.0
          },
          "ip_adapter_image": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Valid image URL for the IP adapter."
          },
          "clip_skip": {
             "type": "integer",
             "nullable": true,
             "description": "Clip Skip.",
             "minimum": 1,
             "maximum": 8
          },
          "base64": {
             "type": "boolean",
             "description": "Get the response as a base64 string. Pass init_image as a base64 string to get a base64 response. Default is false.",
             "default": false
          },
           "temp": {
             "type": "boolean",
             "description": "Create a temporary image link valid for 24 hours. Default is false.",
             "default": false
          }
        }
      },
      "InpaintingRequest": {
        "type": "object",
        "required": [
          "key",
          "model_id",
          "prompt",
          "init_image",
          "mask_image"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for request authorization."
          },
          "model_id": {
            "type": "string",
            "description": "The ID of the model to be used. It can be a public model or one you have trained."
          },
          "prompt": {
            "type": "string",
            "description": "A text description of what you want in the generated image."
          },
          "negative_prompt": {
            "type": "string",
            "nullable": true,
            "description": "Items you don't want in the image."
          },
          "init_image": {
            "type": "string",
            "format": "uri",
            "description": "Link to the initial image to be used as a reference."
          },
          "mask_image": {
            "type": "string",
            "format": "uri",
            "description": "Link to the mask image for inpainting."
          },
          "width": {
            "type": "integer",
            "description": "The width of the image.",
            "maximum": 1024
          },
          "height": {
            "type": "integer",
            "description": "The height of the image.",
            "maximum": 1024
          },
          "samples": {
            "type": "integer",
            "description": "The number of images to be returned in the response.",
            "maximum": 4
          },
          "steps": {
             "type": "integer",
             "description": "The number of denoising steps. Values range from 1 to 20, and any value above 20 will be capped at 20.",
             "minimum": 1,
             "maximum": 50
          },
          "safety_checker": {
            "type": "boolean",
            "description": "A checker for NSFW images. If detected, such images will be replaced by a blank image. Default is true.",
            "default": true
          },
          "safety_checker_type": {
            "type": "string",
            "description": "How to modify the image if NSFW content is found. Default is 'sensitive_content_text'.",
            "enum": [
              "blur",
              "sensitive_content_text",
              "pixelate",
              "black"
            ],
            "default": "sensitive_content_text"
          },
          "enhance_prompt": {
            "type": "boolean",
            "description": "Enhance prompts for better results. Default is true.",
            "default": true
          },
          "enhance_style": {
            "type": "string",
            "nullable": true,
            "description": "Allows you to set the style of the image for better results. Refer to documentation for available styles."
          },
          "guidance_scale": {
            "type": "number",
            "description": "Scale for classifier-free guidance.",
            "minimum": 1.0,
            "maximum": 20.0
          },
          "tomesd": {
            "type": "boolean",
            "description": "Enable tomesd to generate images quickly. Default is true.",
            "default": true
          },
          "use_karras_sigmas": {
            "type": "boolean",
            "description": "Use Keras sigmas to generate images. Produces nice results. Default is true.",
            "default": true
          },
          "algorithm_type": {
             "type": "string",
             "description": "Used in the DPMSolverMultistepScheduler scheduler. Default is 'none'.",
             "enum": [
                "none",
                "dpmsolver+++"
             ],
             "default": "none"
          },
           "vae": {
             "type": "string",
             "nullable": true,
             "description": "Use a custom VAE for generating images. Default is null."
          },
          "lora_strength": {
            "type": "string",
            "nullable": true,
            "description": "Specify the strength of the LoRa model(s) you're using. Provide a float value (0.1 to 1) or comma-separated values for multiple LoRAs."
          },
          "lora_model": {
            "type": "string",
            "nullable": true,
            "description": "Pass LoRa model ID(s). Multiple LoRa models are supported; pass comma-separated values (e.g., 'contrast-fix, yae-miko-genshin')."
          },
          "strength": {
            "type": "number",
            "description": "Prompt strength when using the initial image. Range from 0 to 1.",
            "minimum": 0.0,
            "maximum": 1.0
          },
          "ip_adapter_id": {
            "type": "string",
            "nullable": true,
             "description": "IP adapter ID.",
             "enum": [
                "ip-adapter_sdxl",
                "ip-adapter_sd15",
                "ip-adapter-plus-face_sd15"
             ]
          },
          "ip_adapter_scale": {
            "type": "number",
            "nullable": true,
            "description": "Scale for the IP adapter. Should be between 0 and 1.",
            "minimum": 0.0,
            "maximum": 1.0
          },
          "ip_adapter_image": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Valid image URL for the IP adapter."
          },
          "scheduler": {
            "type": "string",
            "description": "Use this to set a scheduler.",
             "enum": [
                "DDPMScheduler",
                "DDIMScheduler",
                "PNDMScheduler",
                "LMSDiscreteScheduler",
                "EulerDiscreteScheduler",
                "EulerAncestralDiscreteScheduler",
                "DPMSolverMultistepScheduler",
                "HeunDiscreteScheduler",
                "KDPM2DiscreteScheduler",
                "DPMSolverSinglestepScheduler",
                "KDPM2AncestralDiscreteScheduler",
                "UniPCMultistepScheduler",
                "DDIMInverseScheduler",
                "DEISMultistepScheduler",
                "IPNDMScheduler",
                "KarrasVeScheduler",
                "ScoreSdeVeScheduler",
                "LCMScheduler"
             ]
          },
          "seed": {
            "oneOf": [
              { "type": "integer" },
              { "type": "null" }
            ],
            "description": "Used to reproduce results. The same seed will generate the same image again. Pass null for a random number."
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Set a URL to receive a POST API call once image generation is complete."
          },
          "track_id": {
            "type": "string",
            "nullable": true,
            "description": "This ID is returned in the response to the webhook API call and is used to identify the request."
          },
          "clip_skip": {
             "type": "integer",
             "nullable": true,
             "description": "Clip Skip.",
             "minimum": 1,
             "maximum": 8
          },
          "base64": {
             "type": "boolean",
             "description": "Get the response as a base64 string. Pass init_image and mask_image as base64 strings to get a base64 response. Default is false.",
             "default": false
          },
           "temp": {
             "type": "boolean",
             "description": "Create a temporary image link valid for 24 hours. Default is false.",
             "default": false
          }
        }
      },
       "ReloadModelRequest": {
           "type": "object",
           "required": [
               "key",
               "model_id"
           ],
           "properties": {
               "key": {
                   "type": "string",
                   "description": "Your API Key used for request authorization"
               },
               "model_id": {
                   "type": "string",
                   "description": "The ID of the model to be reloaded."
               }
           }
       },
       "ReloadModelResponse": {
           "type": "object",
           "properties": {
               "status": {
                   "type": "string",
                   "enum": ["success", "processing", "error"],
                   "description": "Status of the reload request."
               },
               "message": {
                   "type": "string",
                   "description": "Status message or additional information."
               },
               "eta": {
                   "type": "integer",
                   "description": "Estimated time for completion in seconds (processing status).",
                   "nullable": true
               }
           }
       },
      "TextToImageRequest": {
        "type": "object",
        "required": [
          "key",
          "model_id",
          "prompt"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your API Key used for request authorization."
          },
          "model_id": {
            "type": "string",
            "description": "The ID of the model. Obtain the model ID from the provided source."
          },
          "prompt": {
            "type": "string",
            "description": "A text description of the things you want in the generated image."
          },
          "negative_prompt": {
            "type": "string",
            "nullable": true,
            "description": "Items you don't want in the image."
          },
          "width": {
            "type": "integer",
            "description": "The width of the image.",
            "maximum": 1024
          },
          "height": {
            "type": "integer",
            "description": "The height of the image.",
            "maximum": 1024
          },
          "samples": {
            "type": "integer",
            "description": "The number of images to be returned in response.",
            "maximum": 4
          },
          "num_inference_steps": {
            "type": "integer",
            "description": "Number of denoising steps. Values range from 1 to 20, and any value above 20 will be capped at 20.",
            "minimum": 1,
            "maximum": 50
          },
          "safety_checker": {
            "type": "boolean",
            "description": "A checker for NSFW images. If detected, such images will be replaced by a blank image. Default is true.",
            "default": true
          },
          "safety_checker_type": {
            "type": "string",
            "description": "Modify image if NSFW images are found. Default is 'sensitive_content_text'.",
            "enum": [
              "blur",
              "sensitive_content_text",
              "pixelate",
              "black"
            ],
            "default": "sensitive_content_text"
          },
          "enhance_prompt": {
            "type": "boolean",
            "description": "Enhance prompts for better results. Default is true.",
            "default": true
          },
           "enhance_style": {
            "type": "string",
            "nullable": true,
            "description": "Allows you to set the style of the image for better results. Refer to documentation for available styles."
          },
          "seed": {
            "oneOf": [
              { "type": "integer" },
              { "type": "null" }
            ],
            "description": "Used to reproduce results. The same seed will generate the same image again. Pass null for a random number."
          },
          "guidance_scale": {
            "type": "number",
            "description": "Scale for classifier-free guidance.",
            "minimum": 1.0,
            "maximum": 20.0
          },
          "multi_lingual": {
            "type": "boolean",
            "description": "Allow multilingual prompts to generate images. Set to true if using a language other than English in text prompts. Default is false.",
            "default": false
          },
          "panorama": {
            "type": "boolean",
            "description": "Set to true to generate a panorama image. Default is false.",
            "default": false
          },
          "self_attention": {
            "type": "boolean",
            "description": "If you want a high-quality image, set to true. This will take more time. Default is false.",
            "default": false
          },
          "upscale": {
            "type": "integer",
            "description": "Set to upscale the image resolution. 1: No upscale, 2: 2x upscale, 3: 3x upscale.",
            "enum": [
                1,
                2,
                3
            ]
             ,"nullable": true
             ,"default": 1
             ,"example": "no" 
          },
          "lora_model": {
            "type": "string",
            "nullable": true,
            "description": "Pass LoRa model ID(s). Multiple LoRa models are supported; pass comma-separated values (e.g., 'contrast-fix,yae-miko-genshin')."
          },
          "lora_strength": {
            "type": "string",
            "nullable": true,
            "description": "Specify the strength of the LoRa model(s) you're using. Provide a float value (0.1 to 1) or comma-separated values for multiple LoRAs."
          },
          "scheduler": {
            "type": "string",
            "description": "Use to set a scheduler.",
             "enum": [
                "DDPMScheduler",
                "DDIMScheduler",
                "PNDMScheduler",
                "LMSDiscreteScheduler",
                "EulerDiscreteScheduler",
                "EulerAncestralDiscreteScheduler",
                "DPMSolverMultistepScheduler",
                "HeunDiscreteScheduler",
                "KDPM2DiscreteScheduler",
                "DPMSolverSinglestepScheduler",
                "KDPM2AncestralDiscreteScheduler",
                "UniPCMultistepScheduler",
                "DDIMInverseScheduler",
                "DEISMultistepScheduler",
                "IPNDMScheduler",
                "KarrasVeScheduler",
                "ScoreSdeVeScheduler",
                "LCMScheduler"
             ]
          },
          "webhook": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Set a URL to receive a POST API call once image generation is complete."
          },
          "track_id": {
            "type": "string",
            "nullable": true,
            "description": "ID returned in the response to the webhook API call, used to identify the request."
          },
           "clip_skip": {
             "type": "integer",
             "nullable": true,
             "description": "Clip Skip.",
             "minimum": 1,
             "maximum": 8
          },
          "base64": {
             "type": "boolean",
             "description": "Get response as a base64 string. Default is false.",
             "default": false
          },
           "highres_fix": {
             "type": "boolean",
             "description": "High-resolution fix for generated image. Default is false.",
             "default": false
          },
           "temp": {
             "type": "boolean",
             "description": "Create a temporary image link valid for 24 hours. Default is false.",
             "default": false
          },
           "instant_response": {
             "type": "boolean",
             "description": "If true, returns future links for queued requests instantly instead of waiting. Default is false.",
             "default": false
           }
        }
      },
      "ImageResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success",
              "processing",
              "error"
            ],
            "description": "Status of the image generation"
          },
          "generationTime": {
            "type": "number",
            "description": "Time taken to generate the image in seconds",
            "nullable": true
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "Unique identifier for the image generation"
          },
          "output": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Array of generated image URLs"
          },
          "proxy_links": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Array of proxy image URLs",
            "nullable": true
          },
          "nsfw_content_detected": {
            "type": "boolean",
            "description": "Indicates if NSFW content was detected.",
            "nullable": true
          },
          "webhook_status": {
            "type": "string",
            "description": "Status of the webhook notification.",
             "nullable": true
          },
          "meta": {
            "type": "object",
            "description": "Metadata about the image generation including all parameters used and more.",
            "properties": {
                "prompt": {"type": "string"},
                "negative_prompt": {"type": "string", "nullable": true},
                "model_id": {"type": "string"},
                "scheduler": {"type": "string", "nullable": true},
                "safety_checker": {"type": "string", "enum": ["yes", "no"]},
                "safety_checker_type": {"type": "string", "nullable": true},
                "enhance_prompt": {"type": "string", "enum": ["yes", "no"]},
                "enhance_style": {"type": "string", "nullable": true},
                "W": {"type": "integer"},
                "H": {"type": "integer"},
                "guidance_scale": {"type": "number"},
                "seed": {"type": "integer", "nullable": true},
                "steps": {"type": "integer"},
                "n_samples": {"type": "integer"},
                "tomesd": {"type": "string", "enum": ["yes", "no"], "nullable": true},
                "use_karras_sigmas": {"type": "string", "enum": ["yes", "no"], "nullable": true},
                "algorithm_type": {"type": "string", "nullable": true},
                "vae": {"type": "string", "nullable": true},
                "lora": {"type": "string", "nullable": true},
                "lora_strength": {"type": "string", "nullable": true},
                "clip_skip": {"type": "integer", "nullable": true},
                "panorama": {"type": "string", "enum": ["yes", "no"], "nullable": true},
                "self_attention": {"type": "string", "enum": ["yes", "no"], "nullable": true},
                "upscale": {"type": "string", "enum": ["yes", "no"], "nullable": true},
                "multi_lingual": {"type": "string", "enum": ["yes", "no"], "nullable": true},
                "ip_adapter_id": {"type": "string", "nullable": true},
                "ip_adapter_scale": {"type": "number", "nullable": true},
                "ip_adapter_image": {"type": "string", "format": "uri", "nullable": true},
                "highres_fix": {"type": "string", "enum": ["yes", "no"], "nullable": true},
                "temp": {"type": "string", "enum": ["yes", "no"], "nullable": true},
                "base64": {"type": "string", "enum": ["yes", "no"], "nullable": true},
                "webhook": {"type": "string", "format": "uri", "nullable": true},
                "track_id": {"type": "string", "nullable": true},
                "init_image": {"type": "string", "format": "uri", "nullable": true},
                "mask_image": {"type": "string", "format": "uri", "nullable": true},
                "strength": {"type": "number", "nullable": true},
                "outdir": {"type": "string", "nullable": true},
                "file_prefix": {"type": "string", "nullable": true},
                "is_sdxl": {"type": "boolean", "nullable": true},
                "instant_response": {"type": "string", "enum": ["yes", "no"], "nullable": true},
                "full_url": {"type": "string", "enum": ["yes", "no"], "nullable": true},
                "watermark": {"type": "string", "enum": ["yes", "no"], "nullable": true}
            },
             "additionalProperties": true
          },
          "tip": {
            "type": "string",
            "description": "Additional information or tips for the user",
             "nullable": true
          },
          "eta": {
            "type": "integer",
            "description": "Estimated time for completion in seconds (processing status)",
            "nullable": true
          },
          "message": {
            "type": "string",
            "description": "Status message or additional information",
             "nullable": true
          },
           "tip_1": {
             "type": "string",
             "description": "Secondary tip or message (processing status)",
             "nullable": true
           },
           "fetch_result": {
            "type": "string",
            "format": "uri",
            "description": "URL to fetch the result when processing",
            "nullable": true
          },
          "future_links": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Array of future image URLs for queued requests",
            "nullable": true
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "status",
          "message"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "message": {
            "type": "string",
            "description": "Error message description"
          }
        }
      }
    }
  }
}