{
    "openapi": "3.0.0",
    "info": {
        "title": "ModelsLab Enterprise Server API",
        "version": "1.0.0",
        "description": "API for managing ModelsLab enterprise server operations."
    },
    "servers": [
        {
            "url": "https://modelslab.com/api/v1/enterprise"
        }
    ],
    "paths": {
        "/deepfake/system_details": {
            "post": {
                "summary": "Get System Details",
                "description": "Returns information about your server.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "key": {
                                        "type": "string",
                                        "description": "Your API key"
                                    }
                                },
                                "required": [
                                    "key"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "System details successfully retrieved"
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing API key"
                    }
                }
            }
        },
        "/deepfake/update_server": {
            "post": {
                "summary": "Update Server",
                "description": "Update your dedicated server to the latest version.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "key": {
                                        "type": "string",
                                        "description": "Your API key"
                                    }
                                },
                                "required": [
                                    "key"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Server updated successfully"
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing API key"
                    }
                }
            }
        },
        "/deepfake/clear_cache": {
            "post": {
                "summary": "Clear API Cache",
                "description": "Clear the API's cache.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "key": {
                                        "type": "string",
                                        "description": "Your API key"
                                    }
                                },
                                "required": [
                                    "key"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cache cleared successfully"
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing API key"
                    }
                }
            }
        },
        "/deepfake/clear_queue": {
            "post": {
                "summary": "Clear API Queue",
                "description": "Clear the API's queue.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "key": {
                                        "type": "string",
                                        "description": "Your API key"
                                    }
                                },
                                "required": [
                                    "key"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Queue cleared successfully"
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing API key"
                    }
                }
            }
        },
        "/deepfake/fetch": {
            "post": {
                "summary": "Fetch Queued Request",
                "description": "Fetches a queued request result.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "key": {
                                        "type": "string",
                                        "description": "Your API key"
                                    },
                                    "id": {
                                        "type": "string",
                                        "description": "ID of the queued request"
                                    }
                                },
                                "required": [
                                    "key",
                                    "id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Queued request result fetched successfully"
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing API key"
                    },
                    "404": {
                        "description": "Request not found"
                    }
                }
            }
        },
        "/deepfake/restart_server": {
            "post": {
                "summary": "Restart Server",
                "description": "Restart your dedicated server.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "key": {
                                        "type": "string",
                                        "description": "Your API key"
                                    }
                                },
                                "required": [
                                    "key"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Server restart initiated"
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing API key"
                    }
                }
            }
        }
    }
}